<!DOCTYPE html>
<html lang="es">

<head>
    <title>.::.Registro.::.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/unitropico.css" rel="stylesheet">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<style>
    .fakeimg {
        height: 200px;
        background: #aaa;
    }
</style>

<body>

    <div class="p-5 text-white text-center  bgVerde">
        <img src="../img/escudo.png" alt="Unitrópico" />
        <h1>Unitropico</h1>
        <h5 class="centrado">Ingenieria de Sistemas</h5>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="https://unitropico.edu.co/index.php/8-institucional/237-q10-academico"
                target="_blank">
                <img src="../img/boton.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">


                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dorado" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dorado" href="https://drive.google.com/file/d/1TIddUGrOd2lcn4pFQ6hZa6qcHtpSaDsD/view?usp=sharing" target="_blank" >Terminos y Condiciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dorado" href="https://drive.google.com/file/d/1ZTppZNjCQMmEgPJ7ukN8sdEyahtgLFik/view?usp=sharing">Contactenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dorado" href="#">Noticias</a>
                    </li>

                </ul>
            </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">

            <div class="col-sm-8">

                <h2 class="mt-5">Formulario de inscripcion Freefire</h2>
                <form id="free" class="mx-auto"> 
                    <div class="mb-3">
                        <label for="idType" class="form-label">Tipo de ID</label>
                        <select class="form-select" id="idTypefree" required>
                            <option value="Cedula">Cédula</option>
                            <option value="Tarjeta">Tarjeta de Identidad</option>
                            <option value="Extranjero">Cédula de Extranjería</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="idNumber" class="form-label">Número de ID</label>
                        <input type="number" class="form-control" id="idNumberfree" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Número de Teléfono</label>
                        <input type="number" class="form-control" id="telefonofree" required>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correofree" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombreParticipante" class="form-label">Nombre del Participante</label>
                        <input type="text" class="form-control" id="nombreParticipantefree" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombreJuego" class="form-label">Nombre en el Juego</label>
                        <input type="text" class="form-control" id="nombreJuegofree" required>
                    </div>
                    <div class="mb-3">
                        <label for="idJuego" class="form-label">ID en el Juego</label>
                        <input type="text" class="form-control" id="idJuegofree" required><br>
                        <label for="files" class="form-label">Recuerde que Inscripción sin Pago NO sera valida</label><br>
                        
                        <a href="https://drive.google.com/file/d/1Eeqj_lfXYs4r1LhLcULP7MBfs_idg-dn/view?usp=sharing " target="_blank"
                        class="btn btn-secondary mt-3">PAGUE AQUI!!</a>
                        <br></br>
                        <label for="files" class="form-label">Documento de Identidad, Comprobante de Pago y permiso de menores si es requerido <br> (recuerde subir los documentos antes de enviar)</label>
                        <a href="https://forms.gle/vwRXhmJP5gkcYGf4A" target="_blank" class="btn btn-secondary mt-3">Cargue Documentos</a>
                    </div>
                    <button id="enviar" class="btn btn-primary">Enviar</button><br>
                    <a href="https://drive.google.com/file/d/1_tP0WYYaeZvg-qP-SLrd-Bf8UtIhgZpE/view?usp=sharing "
                        target="_blank" class="btn btn-secondary mt-3">Descargar permiso para menores de edad</a>
                    
                </form>
            </div>
        </div>
    </div>

    <div class="mt-5 p-4 bg-dark text-white text-center">
        <p class="text-center">Universidad internacional del Tropico Americano </p>
        <p class="text-center">© 2024 Supercell. Todos los derechos reservados.</p>
        <p class="text-center">© 2024 Garena. Todos los derechos reservados.</p>
        <p class="text-center">© 2024 Riot. Todos los derechos reservados.</p>
    </div>

    <script type="Module" src="../controllers/registrofree.js"></script>

</body>

</html>